
//.ng-valid[required], .ng-valid.required  {
//    border-left: 5px solid #42A948; /* green */
//  }
//  
//  .ng-invalid:not(form)  {
//    border-left: 5px solid #a94442; /* red */
//  }

.div-header{
  width: 95%;
  float: left;
  text-align: center;
}
.div-btn{
  width: 5%;
  float: left;
}
#leftbox { 
    float:left;  
} 

#rightbox{ 
    float:right; 
} 

input[type="radio"]{
  margin: 0 5px 0 25px;
  transform: scale(1.5);
}